body{
    font-family: TKT bold;
    min-width: 360px;
}
a{
    text-decoration: none;
    color: #696974;
}
/* start header */
header{
    min-width: 300px;
    max-width: 1285px;
    margin: 0 auto;
}
/* start top header */
.top-header{
    height: 80px;
    padding: 0 40px;

}
.top-header .row{
    width: 100%;
    height: 100%;
}
.logo{
    width: 180px;
}
.logo img{
    width: 100%;
}
.user-menu{
    max-width: 200px;
}
.user-menu{
    padding: 0;
}
.user-icons{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.user-icons-long{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
@media only screen and (max-width:500px){
    .user-icons{
        width: 30px;
        height: 30px;
        
    }
    .user-menu{
        width: 120px;
    }
    .logo{
        width: 130px;
    }
}
/* end top header */
.bottom-header{
    height: 60px;
    border-top: 1px solid  #FAFAFB;
    border-bottom: 1px solid  #FAFAFB;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-header a{
    color: #696974;
    font-size: 14px;
    padding: 0 10px;
    transition: 0.3s ease;
    font-family: TKT;
    font-weight: bold;

}
.bottom-header a:hover{
    color: rgb(121, 228, 121);
}
#active-a{
    color: rgb(121, 228, 121);
}
@media only screen and (max-width:990px){
    
    .bottom-header{
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    .bottom-header-nav-left{
        margin-top: 20px;
    }
    .bottom-header-nav-right{
        margin: 10px 0;
    }
}
/* end header bottom */ /* end header */

/* start body-section */
.body-section{
    max-width: 1285px;
    margin: 0 auto;
    padding: 0 40px;
    background-color: #FAFAFB;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-div{
    height: 180px;
    background-image: url(../image/home-banner.png);
    background-position: center center;
    background-size: cover;
    border-radius: 15px;
}
.title{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0a17057a, rgb(5 27 27 / 20%));
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
h1{
    font-size: 28px;
}
.md-title{
    margin : 40px 0;
    height: 30px;
}
.domen-market{
    width: 190px;
    padding: 0;
    height: 100%;
}
.domen-market h2{
    font-family: TKT bold;
    font-size: 16px
}
.sort{
    width: 600px;
    height: 100%;
}
.sort a{
    padding: 10px;
    transition: 0.3s ease;
}
.sort a:hover{
    color: rgb(121, 228, 121);
}
.how-sale-domen{
    width: 190px;
    padding: 0;
    height: 100%;
}
.how-sale-domen a{
   font-size: 16px;
   text-decoration: underline;
   color: black;
}
/* end body section */
/* start filter */
.filter{
    border-radius: 20px;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}
.filter input{
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}
.filter label{
    display: block;
    text-align: left;
    margin: 20px 0 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: black;

}
.filter  #price-start,#price-end{
    width: 45%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    position: relative;
    font-size: 20px;
}
#price-start{
    float:left;
}
#price-end{
    float: right;
}
#price-start input{
    width: 70%;
    float: left;
    border: none;
    outline: none;
    background-color: transparent;
}
#price-end input{
    width: 70%;
    float:  left;
    border: none;
    outline: none;
    background-color: transparent;
}
.filter img{
    width: 18px;
    position:absolute;
    right: 5px;
    top: 13px;
    
}
.ranges-div{
    width: 100%;
    height: 5px;
    position: relative;
    margin-top: 80px;
}
.price-range-box input{
    position: absolute;
    width: 110%;
    height: 5px;
    top: 0;
    left: 0;
    padding: 0;

}
.price-range-box input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    
}
.price-range-box{
    width: 100%;
    height: 5px;
    background-color: #ddd;
    position: absolute;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    pointer-events: auto;
    cursor: pointer;
    background-color: #99CC66;
}
input[type="range"]::-webkit-range-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: auto;
    cursor: pointer;
    background-color: #99CC66;
}
.progre-ss{
    height: 5px;
    position: absolute;
    background-color: #99CC66;
    left: 5%;
    right: 0;
    pointer-events: none;
    border-radius: 5px;
}




.filter .start-simbol,.end-simbol{
    width: 45%;
    height: 45px;
    border-radius: 10px;
    outline: none;
    position: relative;
    font-size: 20px;
}
.start-simbol{
    float: left;
}
.end-simbol{
    float:right;
}
.start-simbol input{
    width: 70%;
    float: left;
    border: none;
    outline: none;
    background-color: transparent;
}
.end-simbol input{
    width: 70%;
    float: left;
    border: none;
    outline: none;
    background-color: transparent;
}
#btn-div{
    width: 80px;
    height: 30px;
    background-color: #99CC66;
    color: #fff;
    float: right;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.filter h2{
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin: 30px 0 40px 0;
}
.filter li, ul{
    list-style-type: none;
    display: block;
    padding: 0;
    width: 100%;
    text-align: left;
}
.filter li{
    height: 40px;
    display: flex;
    align-items: center;
    color: rgb(139, 134, 134);
}
.filter li h2{
    color: black;
}
.filter input[type=checkbox]{
    appearance:none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    margin-right: 15px;
    background-color: #ccc;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    
}
.filter input[type="checkbox"]::after{
    font-family: 'Font Awesome 5 Free';
    content: '\f00c';
    font-size: 13px;
    font-weight: bold;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.filter input[type=checkbox]:hover{
    background-color: rgb(127, 121, 121);
}
.filter input[type="checkbox"]:checked{
    background-color: #99CC66;
}
.filter input[type=checkbox]:checked::after{   
    color: #fff;
    opacity: 1 ;
}
.domens-body{
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-left: 40px;
    padding:  20px;
}
.domens{
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
    transition: 0.2s ease;
    cursor: pointer;
}
.domens:hover{
    background-color: #ccc;
    
}
.domens-box{
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.domens-box i{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(238, 232, 232);
    cursor: pointer;
}
.fa-chevron-down{
    border: 1px solid #ccc;
}
.domens-box-left{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.domens-box-right{
    display: flex;
    align-items: center;
}
.showme-price{
    height: 45px;
    border-radius: 5px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-left: 10px;
    
}

.showme-price h2{
    font-size: 16px;
    margin: 0;
    margin-left: 10px;
}
.showme-price .fa-check{
    font-size: 13px;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: #99CC66;
    
}
.domens-box-left span{
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color:  rgb(51, 50, 50);
}
.domens-box-right .fa-lari-sign{
    border: none;
    background-color:transparent;
    font-size: 13px;
    display: inline;
    margin-left: 5px;
}
.price-box span:first-child{
    display: block;
    font-weight: bold;
}
.price-box span:last-child{
    font-size: 13px;
    margin-left: 5px;
}
.domens-box-right .fa-cart-shopping{
    background-color: #99CC66;
    color: #fff;
}
.domen-info{
    width: 80%;
    height: 110px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: none;

}
.domens-info-boxs-parent{
    display: flex;
    justify-content: space-between;
}
.domen-info-box{
    padding: 20px;
    width: 33%;
    text-align: center;
}

.domen-info-box h2{
    font-size: 16px;
}
.domen-info-box span{
    width: 100%;
    display: block;
}
.active{
    display: block;
}
.active-icon{
    border: 1px solid #99CC66;
    color: #99CC66;

}
.showme{
    width: 115px;
    height: 45px;
    border: 1px solid #ccc;
    color: #696974;
    background-color: #fff;
}
@media only screen and (max-width:990px){
    .filter-and-domens{
        margin-top: 50px;
    }
    .domen-market,.how-sale-domen,.sort{
        width: 100%;
    }
    .domen-market{
        height: 0;
        padding: 30px 0;
    }
    .how-sale-domen{
        margin: 20px 0;
    }
    .md-title{
        height: 50px;
        text-align: center;
        margin-bottom: 120px;
    }
    .domens-body{
        margin: 20px 0 0 0;
    }
}

@media only screen and (max-width:520px) {
    .domens-body{
        padding: 20px 10px;
    }
    .title{
        padding: 20px;
    }
    .title h1{
        font-size: 15px;
        text-align: center;
    }
    .sort{
        display: none;
    }
    .domen-market{
        display: none;
    }
    .bottom-header-nav-left a{
       font-size: 12px;
    }
    .md-title{
        margin: 0;
    }
    .how-sale-domen{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user-icons img{
        width: 20px;
    }
    .bottom-header-nav-right{
        display: none;
    }
    .domen-info-box{
        padding: 10px;
        padding-top: 20px;
    }
    .domens-box-left i,.domens-box-right i{
       width: 30px;
       height: 30px;
       border-radius: 10px;
    }
    .domens-box-left span,.domens-box-right span:first-child{
        font-size: 15px;
        margin-left: 5px;
    }
    .domens-box{
        padding: 20px 0;
    }
    .body-section{
        padding: 10px;
    }
    .domen-info-box span{
        font-size: 13px;
    }
    .domen-info-box:last-child span{
        display: none;
    }
    .domen-info-box h2{
        font-size: 12px;
    }
    .showme{
        width: 100px;
        height: 30px;
        margin: 0 10px;
    }
    .fa.fa-check{
        font-size: 14px;
        width: 15px;
        height: 15px;
    }
    .showme h2{
        font-size: 14px;
    }
    
    
}

/* progress price */
.price-slider{
    width: 100%;
    height: 100vh;
    background-color: #99CC66;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 25px 40px;
    position: relative;
}
.header h2{
    font-size: 24px;
    font-weight: 600;
}
.header p {
    margin-top: 5px;
    font-size: 16px;
}
.price-input{
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  
}
.price-input .field{
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    text-align: center;
    margin-left: 12px;
    border-radius: 5px;
    border: 1px solid #999;
    -moz-appearance: textfield;
    
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
